<section class="background-image">
  <div class="container">
    <h1 class="titulo-ahorcado">AHORCADO</h1>
    <div class="contenedor-general row">
      <div class="col">
        <div>
          <img
            class="img-horca"
            src="../../../../assets/ahorcado/ahorcado_{{imagen}}.png"
            alt="horca"
          />
        </div>
        <p class="intentos">Intentos {{ intentos }}/6</p>
      </div>
      <div class="col contenedor-botones">
        <div class="row palabra-adivinar">
          <div class="col-md-12 text-center">
            <div *ngFor="let letra of palabraSeleccionada" class="d-inline">
              <h1 class="d-inline p-2">{{ letra }}</h1>
            </div>
          </div>
          <span class="puntaje">(Puntaje: {{ puntuacion }})</span>
        </div>
        <div class="container">
          <button
            *ngFor="let letra of letras"
            class="btn-letra"
            (click)="sendLetter(letra)"
          >
            {{ letra }}
          </button>
        </div>
        <div *ngIf="!juegoActivado">
          <button class="btn-reiniciar" (click)="restartGame()">
            {{botonReinicio}}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>