<div class="background-image">
    <div class="container">
        <div class="card text-center">
            <img class="card-img-top" src="../../../assets/fondos/homecard.gif">
            <div class="card-body">
                <h5 class="card-title">¡Bienvenido a la Juegoteca!</h5>
                <p class="card-text">Elige tu juego favorito e intenta superar el puntaje máximo.<br>
                    ¡Registrate para guardar tus logros!
                </p>
            </div>
        </div>
    </div>
</div>
