<br />
<div class="card mb-3 cloud-background" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="../../assets/images/fotomia.jpeg"
        class="img-fluid rounded-start"
        alt="..."
        id="img"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Julio Mendez</h5>
        <div class="card-text">
          <li class=""><strong>Edad:</strong> 31 años</li>
          <li class=""><strong>Legajo:</strong> 111031</li>
          <li class=""><strong>Fecha de nacimiento:</strong> 30/04/1992</li>
          <li class=""><strong>Curso:</strong> 4º B</li>
          <li class=""><strong>Localidad:</strong> CABA</li>
          <li class="">
            <strong>Mi Juego: LABERINTO</strong>
            <p>
              El jugador deberá llegar desde el punto de partida hasta la salida en el menor tiempo posible, en base a lo cual
              se calculará su puntaje.
            </p>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>