<div class="background-image">
    <div class="container">
        <div class="card text-center flip-in-hor-top" >
            <p><a class="link-offset-2 link-underline link" [href]="perfil?.html_url+'/MyProject'"target="_blank">Ver este proyecto en Github</a></p>
            <img class="card-img-top mx-auto" [src]="perfil?.avatar_url">
            <div class="card-body">
                <h4 class="card-title">{{perfil?.name}} Méndez</h4>
                <p class="card-subtitle">Buenos Aires - Argentina</p>
                <p class="card-text">{{perfil?.bio}}</p>
                <br>
                <p class="card-title">Juego Elegido:</p>
                <p class="card-title">¿Laberinto/rompecabezas/Buscaminas?</p>
                <p class="card-text">
                    <!-- El juego <span>¿Laberinto/rompecabezas/Buscaminas?</span> -->
                     Lorem, ipsum dolor sit amet consectetur adipisicing elit. In dolorem facere, nesciunt odit repellendus
                      temporibus! Totam dignissimos minus quae laborum, dolores doloribus obcaecati sint consectetur tempora
                       inventore iure accusamus sapiente.
                    <br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                </p>
            </div>
        </div>
    </div>
</div>